* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  background: rgb(255, 251, 251); ;
}

.quote{
  margin: auto;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  padding: 20px; 
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: center;
  
}

p{
  color:black;
  font-size: 18px;
  word-wrap: break-word;
  
}
p :last-of-type{
  margin:10px 0;
}
button{
  border:none;

  outline: none;
  margin-right: 12px;
}
.btnContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration:none ;
  display: inline-block;
  text-align: center;
}
.btn{
  background-color:#0e9ad1; 
  display: flex;
  justify-content: center;
  color: #fff;
  width: 80px;
  padding: 7px 0;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover{
  background-color: #0d79a3;
  color: #fff;
}